.main{
  /* max-width: 80vh; */
  /* border: 1px solid black; */
  width: fit-content;
  /* margin: auto; */
  /* margin-top: 20px; */
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
}

.small-text{
  font-size: 12px !important;
}